<!-- Content for Products -->
<ul>
    <% products.forEach(product => { %>
        <li>
            <p><%= product.name %></p>
            <p><%= product.price %></p>
        </li>
    <% }) %>
</ul>
