<%- include('../partials/header') %>
<div class="content">
    <div class="header-row">
        <h2>Orders</h2>
    </div>
    <ul>
        <% orders.forEach(order => { %>
            <li>Order ID: <%= order._id %> - <%= order.status %></li>
        <% }) %>
    </ul>
</div>
<%- include('../partials/footer') %>
